<main class="my-container">
  <section class="banner-chica">
    <h1>Prueba Premium gratis 3 meses</h1>
    <p>Escucha millones de canciones sin anuncios, a la carta y sin conexión.</p>
    <div class="btn-div">
      <a class="btn-planes" href="#">VER PLANES</a>
    </div>
    <span>Rigen términos y condiciones. Los tres meses gratis no están disponibles para usuarios que ya
      hayan probado Premium.</span>
  </section>
  <section>
    <h2>¿Por qué pasarte a Premium?</h2>
    <div>
      <p>Descarga música.</p>
      <span>Llévala siempre contigo.</span>
    </div>
    <div>
      <img class="benefits" src="./images/benefit-2.png" alt="clave de musica">
      <p>Sin anuncios.</p>
      <span>Disfruta de música sin interrupciones.</span>
    </div>
    <div>
      <img class="benefits" src="./images/benefit-3.png" alt="clave de musica">
      <p>Escucha lo que quieras.</p>
      <span>Incluso en el móvil.</span>
    </div>
    <div>
      <img class="benefits" src="./images/benefit-4.png" alt="clave de musica">
      <p>Salta todas las canciones que quieras.</p>
      <span>Simplemente dale a siguiente.</span>
    </div>
  </section>
</main>