<section>
    <h2>¿Por qué pasarte a Premium?</h2>
    <div>
        <p>Descarga música.</p>
        <span>Llévala siempre contigo.</span>
    </div>
    <div>
        <img class="benefits" src="./images/benefit-2.png" alt="clave de musica">
        <p>Sin anuncios.</p>
        <span>Disfruta de música sin interrupciones.</span>
    </div>
    <div>
        <img class="benefits" src="./images/benefit-3.png" alt="clave de musica">
        <p>Escucha lo que quieras.</p>
        <span>Incluso en el móvil.</span>
    </div>
    <div>
        <img class="benefits" src="./images/benefit-4.png" alt="clave de musica">
        <p>Salta todas las canciones que quieras.</p>
        <span>Simplemente dale a siguiente.</span>
    </div>
</section>