<section class="wrapper">
    <h2 class="section__title">¿Por qué pasarte a Premium?</h2>
    <img class="benefits" src="./images/benefit-1.png" alt="clave de musica">
    <div>
        <p class="section__title--bold">Descarga música.</p>
        <span>Llévala siempre contigo.</span>
    </div>
    <img class="benefits" src="./images/benefit-2.png" alt="clave de musica">
    <div>
        <p class="section__title--bold">Sin anuncios.</p>
        <span>Disfruta de música sin interrupciones.</span>
    </div>
    <img class="benefits" src="./images/benefit-3.png" alt="clave de musica">
    <div>
        <p class="section__title--bold">Escucha lo que quieras.</p>
        <span>Incluso en el móvil.</span>
    </div>
    <img class="benefits" src="./images/benefit-4.png" alt="clave de musica">
    <div>
        <p class="section__title--bold">Salta todas las canciones que quieras.</p>
        <span>Simplemente dale a siguiente.</span>
    </div>
</section>