// @import 'core/variables';
// @import 'core/reset';
// @import 'components/code';
// @import 'components/links';
// @import 'layout/page';
// @import 'layout/header';
// @import 'layout/footer';
// @import 'pages/index';

body {
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
}

:root {
    --font-color: #fff;
    --background-color: #000;
}

.logo {
    width: 45px;
    height: 14px;
    margin-left: 10px;
}

.benefits {
    width: 144px;
    height: 139px;
}

.menu-icon{
    width: 12px;
    height: 9px;
}

.menu-button{
    background: none;
    border: none;
    margin-right: 10px;
    
}
.my-container {
    border: solid 3px red;
    
}
.header-spotify {
    background-color: var(--background-color);
    color: var(--font-color);
    height: 35px;
    display: flex;
    position: sticky;
    top: 0;
}

.menu-items {
    align-items: right;
    width: 100%;

}

.menu-items ul {
    float: right;
    
}

.menu-items ul li {
    display: inline;
    background-color: blueviolet;

}

.menu-principal{
    display: none;
}



.banner-chica {
    background-color: #529CF1;
    color: var(--font-color);
    padding: 65px 10px 25px 10px;
   

}

.banner-chica h1 {
    padding-bottom: 20px;
    font-size: 35px;
    font-weight: 900;
}

.banner-chica p {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 900;
}

.banner-chica span {
    display: block;
    font-size: 9px;
    font-weight: 900;
}

.spotify-f {
    background-color: var(--background-color);
    color: var(--font-color);
}

.menu-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;   
}

.btn-div{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.btn-planes {
    background-color: #26B758;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 30px 10px 30px;
    border: none;
    width: 100%;
    text-align: center;
    margin-bottom: 10px;    
}


.btn-div a {
    font-size: 10px;
    letter-spacing: 2px;
    font-weight: 900;
}
.btn-div a:visited{
    color: #ffffff;
}

@media (min-width: 736px) {
    
    .menu-principal{
        display: block;
    }

    .menu-icon{
        display: none;
    }

    .banner-chica{
    background-image: url('../images/premium_dancer.png');
    background-position: right;
    background-repeat: no-repeat;
    }

    .btn-div{
        width: 20%;
    }

    .banner-chica {
        height: 535px;

    }

}

@media (min-width: 1024px) {

    .banner-chica h1 {
        font-size: 45px;
    }

}
