body {
    background-color: #d0d0d0;
}

.logo {
    width: 145px;
    height: 43px;
}

.benefits {
    width: 144px;
    height: 139px;
}

.menu-icon{
    width: 20px;
    height: 20px;
}
.menu-button{
    background: none;
    border: none;
}