body {
    background-color: #d0d0d0;
    font-family: 'Roboto', sans-serif;
}

:root {
    --font-color: #fff;
    --background-color: #000;
}

.logo {
    width: 45px;
    height: 14px;
}

.benefits {
    width: 144px;
    height: 139px;
}

.menu-icon{
    width: 12px;
    height: 9px;
}

.menu-button{
    background: none;
    border: none;
    padding-right: 8px;
    
}
.my-container {
    border: solid 3px red;
    
}
.header-spotify {
    background-color: var(--background-color);
    color: var(--font-color);
}

.menu-items {
    align-items: right;

}

.menu-items ul {
    float: right;
    
}

.menu-items ul li {
    display: inline;
    background-color: blueviolet;

}

/*.banner-chica {
    background-image: url('../images/premium_dancer.png');
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
}*/

.spotify-f {
    background-color: var(--background-color);
    color: var(--font-color);
    height: 27px;
}

.menu-items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}